/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 48px;
    color: #5a5a5a;
  }
  
  /*
=================================================
NAVBAR
=================================================
*/
.navbar-brand {
  color: white;
}







/*  CAROUSEL
-------------------------------------------------- */
.carousel-item{
  max-height: 500px;
}
.carousel-item img{
  min-height:300px;
  filter: blur(5px);
}

/* Since positioning the image, we need to help out the caption */
.textcolor {
  bottom: 48px;
  z-index: 10;
}

/* blurred image css
-------------------------------------------------- */




/* FEAUTRES
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing:0px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */


@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .textcolor{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 112px;
  }
}

/* text color css
-------------------------------------------------- */
.textcolor{
  color: #FFFFFF;
  text-shadow: 0 0 30px black
 
}

/* video size
-------------------------------------------------- */
.video-size {
 max-width: fit-content;
}

.text-size {
